asn1crypto==0.24.0
cryptography==2.1.4
cycler==0.11.0
dataclasses==0.8
gensim==3.7.1
idna==2.6
importlib-resources==5.4.0
joblib==1.1.1
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.3.1
matplotlib==3.3.4
numpy==1.19.5
Pillow==8.4.0
pycrypto==2.6.1
PyGObject==3.26.1
pyparsing==3.0.9
python-dateutil==2.8.2
pyxdg==0.25
scikit-learn==0.24.2
scipy==1.5.4
SecretStorage==2.3.1
six==1.11.0
sklearn==0.0
smart-open==6.2.0
threadpoolctl==3.1.0
torch==1.10.2
tqdm==4.64.1
typing_extensions==4.1.1
zipp==3.6.0
